In [1]:
name = "john"
print("name is :", name)

name is : john

In [3]:
print("     /|")
print("    / |")
print("   /  |")
print("  /   |")
print(" /    |")
print("/_____|")

     /|
    / |
   /  |
  /   |
 /    |
/_____|

In [4]:
name = "john"
age = 35

In [8]:
print("{} is {} years old" .format(name,age))

john is 35 years old

In [9]:
print(f"hello my name is {name} and i am {age} years old.")

hello my name is john and i am 35 years old.

In [10]:
phrase = "Digipodium"
print(phrase.index("D"))

0

In [11]:
print(phrase.replace("Digipodium", "Hello"))

Hello

In [12]:
print(phrase)

Digipodium

In [13]:
print(pow(4,3))

64

In [14]:
print(round(3.7))

4

In [15]:
print(abs(-3))

3

In [19]:
print(abs(3))

3

In [16]:
print(round(3.4))

3

In [17]:
print(max(4,5))

5

In [18]:
print(min(4,5))

4

In [20]:
from math import *

In [21]:
print(sqrt(36))

6.0

In [22]:
name = input("Enter your name: ")
print("Hello " + name + "!")

Hello john!

In [23]:
age =  input("Enter your age: ")

In [24]:
print(age)

45

In [27]:
name = input("Enter your name: ")
age = input("Enter your age: ")
city = input("Enter your city: ")

print("my name is " + name)
print("my age is " + age)
print("I live in " + city)

my name is john
my age is 34
I live in london

list

In [28]:
number = [1,2,3,4,5,6,7,8,9,10]
name = ["john", "jane", "doe", "smith"]
name.extend(number)

In [29]:
print(name)

['john', 'jane', 'doe', 'smith', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
name.append("james")
print(name)

['john', 'jane', 'doe', 'smith', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'name', 'james', 'james']

In [34]:
x, y = input("Enter a two value: ").split()
print(x)
print(y)

1
2

In [35]:
x, y, z= input("Enter a three value: ").split()
print(x)
print(y)
print(z)

1
2
3

In [37]:
print("geeks", end=" ")
print("geeks")

geeks geeks

In [38]:
print(4//2)

2

In [39]:
print(2//4)

0

`global variable`

In [42]:
x = "global variable"
def var():
    print("function has " + x)
var()

function has global variable

`local variable`

In [43]:
def var():
    x = "local variable"
    print("function has " + x)
var()

function has local variable